* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #444;
    color: rgb(0, 0, 0);
}

.container {
    box-shadow: 0 0 10px silver;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    min-height: 800px;
}

.http {
    text-align: center;
    margin-top: 80px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

form input {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 10px;

}

form button {
    padding: 10px 30px;
    background-color: transparent;

    outline: none;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
}

::placeholder {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: black;
    text-align: left;
}

table td,
th {
    padding: 12px;
}

.modalContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

.modalcontenet{
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    border-radius: 10px;
}

.closemodal{
    display: none;
}

.modalcontenet input {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    outline: none;
}

.modalcontenet button {
    margin-top: 15px;
    padding: 10px 45.3%;
}



#closeicon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}