    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background-color: white;
    }

    nav {
      display: flex;
      gap: 650px;
      align-items: center;
      background-color: #8ecef6;
      width: 100%;
      height: 84px;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
    }

    nav a {
      color: white;
      text-decoration: none;
    }

    nav ion-icon {
      font-size: 50px;
      color: white;
    }

    .register-container {
      max-width: 400px;
      margin: 50px auto;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      color: black;
      box-shadow: 0 0 50px #033D62;
    }


    .register-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: black;
    }

    .register-container input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: none;
      font-size: 1em;
      background-color: #7db9dd;
    }

    .register-container button {
      width: 100%;
      padding: 10px;
      background-color: #033D62;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1.1em;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .login-link {
      text-align: center;
      margin-top: 15px;
      font-size: 0.9em;
    }

    .login-link a {
      color: #4ba8f4eb;
      text-decoration: none;
    }

    #registerForm {
      position: relative;
    }

    #eye {
      position: absolute;
      top: 190px;
      left: 309px;
      width: 25px;
      height: 25px;
      color: black;
    }

    .error {
      display: flex;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      gap: 5px;
      width: 180px;
      background-color: #033D62;
      color: white;
      padding: 10px;
      margin-top: 35px;
      margin-bottom: 15px;
      text-align: center;
      border-radius: 5px;
      transform: translateY(-1100px);
      transition: 0.5s;
    }

    header img {
      width: 200px;
    }