* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.darkmod {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute; */
    width: 100%;
    padding: 15px;

}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;

}

a {
    text-decoration: none;
}

p {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.menu p:hover {
    color: rgb(255, 140, 0);

}

.buy {
    font-size: 25px;
    padding: 8px;
    border-radius: 6px;
}

.icon-box .buy:hover {
    background-color: rgba(104, 104, 104, 0.208);
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}

.moon {
    padding: 8px;
    border-radius: 6px;
}

.icon-box .moon:hover {
    background-color: rgba(104, 104, 104, 0.208);
}

/* ====================================================================================================================== */

.carusel{
    display: grid;
    grid-template-columns:1575px 1575px 1575px 1575px  ;
    overflow: auto;
    gap: 10px;
    transition: 1s;
    max-width: 1600px;
    margin: 30px auto;
    grid-auto-rows: 600px;
    padding: 10px;
    overflow: hidden;
}

.carusel img {
    height: 100%;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* ==================modal======================= */

.modal{
    position: absolute;
    border: 2px solid;
    width: 95%;
    height: 93%;
    top: 35px;
    left: 55px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    transform: translateY(-950px);
    transition: 0.3s;
}
.openModal{
    transform: translateY(0px);
}
::selection{
    background-color: transparent;
}
#close{
    font-size: 30px;
    margin-left: 1775px;
    margin-top: 10px;
    cursor: pointer;
}

.btnlar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.btnlar button {
    padding: 7px 35px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

