* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
}

nav {
    display: flex;
    gap: 650px;
    align-items: center;
    height: 84px;
    font-size: 2em;
    font-weight: bold;
    background-color: #c7e9ff;

}

nav a {
    color: black;
    text-decoration: none;
}

nav ion-icon {
    font-size: 50px;
    color: black;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 50px #033D62;

}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #c7e9ff;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #033D62;
    border: none;
    color: white;
    font-size: 1.1em;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #0d89d5;
    text-decoration: none;
}

.error {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
    width: 160px;
    background-color: #ff4444;
    color: black;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    transform: translateY(-1100px);
    transition: 0.6s;
}

header img {
    width: 200px;
}